
.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color); 
}

.auth-container {
    background-color: var(--card-bg);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid var(--border-color);
}

.edu-visual {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.edu-visual i {
    font-size: 4em; 
    color: var(--primary-color);
    margin-bottom: 10px;
}

.auth-container h1.logo {
    margin: 5px 0;
    font-size: 2.5em;
    color: var(--primary-color);
}

.tagline {
    font-size: 1.1em;
    color: var(--text-color);
    opacity: 0.8;
    margin-top: 5px;
    font-weight: 500;
}

.auth-container h2 {
    font-size: 1.5em;
    color: var(--primary-dark-shade);
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--bg-color);
}

.input-group i {
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 1.2em;
}

.input-group input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px 0;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1em;
}

.primary-btn {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    margin-top: 10px;
}
.primary-btn i {
    margin-right: 10px;
}

.auth-footer {
    margin-top: 25px;
    font-size: 0.9em;
    color: var(--text-color);
}

.auth-footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}
.auth-footer a:hover {
    text-decoration: underline;
}